.tileW-tl {
  transform: rotate(0deg);
}
.tileW-tr {
  transform: rotate(90deg);
}
.tileW-br {
  transform: rotate(180deg);
}
.tileW-bl {
  transform: rotate(270deg);
}
.health {
  position: absolute;
  bottom: 2px;
  left: 2px;
  height: 5px;
  border-radius: 2px;
  opacity: 0.8;
}
